body {
  background-color: #eff1f2;
  font-family: Arial, sans-serif;
}

section {
  background-color: white;
  margin: 40px auto;
  padding: 20px 40px;
  max-width: 1100px;
  border-radius: 8px;
}

.banner {
  position: relative;
  width: 100%;
  height: 250px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.jess {
  position: absolute;
  bottom: -80px;
  left: 40px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 4px solid white;
}

header {
  background-color: #ba0c2f;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  margin-top: 100px;
}

.two-column-layout {
  display: flex;
  gap: 40px;
  max-width: 1170px;
  margin: 20px auto;
  padding: 0 20px;
}

.two-column-layout section {
  margin: 0;
}

.left-column {
  flex: 3;
  gap: 40px;
  display: flex;
  flex-direction: column;

}

.right-column {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.side-box {
  background-color: #a7b1b7;
  color: white;
  padding: 15px;
  border-radius: 8px;
}

.side-box h3 {
  margin-top: 0;
  font-size: 20px;
}

.side-box p,
.side-box li {
  font-size: 15px;
  line-height: 1.6;
}

.side-box ul {
  padding-left: 18px;
}

.site-name {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding: 8px 15px;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: white;
  color: #ba0c2f;
}

footer {
  background-color: #ba0c2f;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-family: Arial, sans-serif;
}

.footer-content {
  text-align: left;
}

.footer-right {
  text-align: right;
}


